:root{
	--primary-color:#001a2c;
	--secondary-color:#003356;
	--accent-color:#257ce6;
}
body{
	background-color: var(--primary-color);
	color: var(--accent-color);
}

.list-container{
	border-right: 3px var(--secondary-color) solid;
	padding-bottom: 10px;
}
.list_title{
	border-bottom: 2px var(--accent-color) solid;
}
.lists{
	width: fit-content;
	border-bottom: 1px var(--secondary-color) solid;
	color: var(--accent-color);
	margin-bottom: 20%;
	padding-bottom: 5%;
	cursor: pointer;
}
#add_list{
	cursor: pointer;
}
.list_name_taker{
	padding: 10px;
	border-radius: 10px;
	/* visibility: hidden; */
}
.task_taker{
	padding: 10px;
	border-radius: 10px;
}
.list_name_taker input{
	background-color: var(--secondary-color);
	color: var(--accent-color);
	padding: 5px;
	border-radius: 10px;
}
.task_taker input{
	background-color: var(--secondary-color);
	color: var(--accent-color);
	padding: 5px;
	border-radius: 10px;
}
.list_name_taker input:focus{
	outline: none;
}
.task_taker input:focus{
		outline: none;

}
.list_name_taker button{
	background-color: var(--secondary-color);
	color: #257ce6;
	padding: 5%;
	border-radius: 10px;
	font: bold;
	cursor: pointer;
}
.task_taker button{
	background-color: var(--secondary-color);
	color: #257ce6;
	padding: 5%;
	border-radius: 10px;
	font: bold;
	cursor: pointer;
}
.each-task{
	width: fit-content;
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.each-task p{
	margin-left: 10px;
}
.list_task{
	width:100%;
	height: fit-content;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--primary-color);
}
@media(min-width:600px){
	.lists{
	border-bottom: 2px var(--secondary-color) solid;
	color: var(--accent-color);
	margin-bottom: 7%;
	padding-bottom: 2%;
	text-align: center;
}
}
